name: npm-audit-fix
on:
  schedule:
    - cron:  '00 9 * * *'

jobs:
  npm-audit-fix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: develop
      - uses: actions/setup-node@v3.4.1
        with:
          node-version: 'lts/*'
      - run: npm install
      - run: npm audit fix
      - run: |
          if git diff-index --quiet HEAD --; \
          then echo "CHANGES=false" >> $GITHUB_ENV; \
          else echo "CHANGES=true" >> $GITHUB_ENV; \
          fi
      - uses: peter-evans/create-pull-request@v4.0.4
        if: ${{ env.CHANGES == 'true' }}
        with:
          title: 'npm audit fix'
          commit-message: 'npm audit fix'
          branch: 'npm/audit-fix'
          base: 'develop'
          delete-branch: true
          labels: 'dependencies,javascript'
          # repo scoped token is necessary to make the pull request trigger other actions
          # unfortunately this changes the pull request author to the repo owner
          token: ${{ secrets.URL_BUILDER_GITHUB_TOKEN }}
  npm-audit-fix-force:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: develop
      - uses: actions/setup-node@v3.4.1
        with:
          node-version: 'lts/*'
      - run: npm install
      - run: npm audit fix --force
      - run: |
          if git diff-index --quiet HEAD --; \
          then echo "CHANGES_FORCE=false" >> $GITHUB_ENV; \
          else echo "CHANGES_FORCE=true" >> $GITHUB_ENV; \
          fi
      - uses: peter-evans/create-pull-request@v4.0.4
        if: ${{ env.CHANGES_FORCE == 'true' }}
        with:
          title: 'npm audit fix --force'
          commit-message: 'npm audit fix --force'
          branch: 'npm/audit-fix-force'
          base: 'develop'
          delete-branch: true
          labels: 'dependencies,javascript'
          # repo scoped token is necessary to make the pull request trigger other actions
          # unfortunately this changes the pull request author to the repo owner
          token: ${{ secrets.URL_BUILDER_GITHUB_TOKEN }}
